---
import { Image } from 'astro:assets';
import GitLab from 'icons:astro/simple-icons/gitlab';
import TwitterX from 'icons:astro/simple-icons/x';
import LinkedIn from 'icons:astro/simple-icons/linkedin';
import Instagram from 'icons:astro/skill-icons/instagram';

import profilePicture from '@/assets/img/profile.webp';
import NavLink from '@/components/NavLink.astro';
---

<nav class="flex flex-row items-center gap-4">
  <a href="/">
    <Image
      src={profilePicture}
      alt="Ivan Partida"
      class="w-[64px] rounded-full transition-transform hover:scale-125"
      width={256}
    />
  </a>
  <div class="ml-auto flex flex-row items-center gap-2">
    <NavLink
      href="https://gitlab.com/DeadOcean"
      icon={GitLab}
      class="text-orange"
    />
    <NavLink
      href="https://www.linkedin.com/in/ivanpartidagalarza/"
      icon={LinkedIn}
      class="text-blue"
    />
    <NavLink href="https://x.com/@DeadOce4n" icon={TwitterX} />
    <NavLink
      href="https://www.instagram.com/_solianir/"
      icon={Instagram}
      class="text-lg"
    />
  </div>
</nav>
