---
import RoundFill from 'icons:astro/mingcute/round-fill';

export interface Props {
  employer: string;
  jobTitle: string;
  period: string;
}

const { employer, jobTitle, period } = Astro.props;
---

<div class="flex flex-col items-start border-l-[3px] border-l-blue">
  <div class="-mt-4 flex flex-row items-center gap-4">
    <RoundFill class="-ml-[11px] text-blue" />
    <span class="text-xl font-bold text-purple">{employer}</span>
  </div>
  <span class="ml-6 italic">{jobTitle}</span>
  <span class="ml-6 text-sm text-white-dark">{period}</span>
  <slot />
</div>
