@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply text-white;
}

h1,
h2,
h3,
h4 {
  @apply font-bold text-purple;
}

h1 {
  @apply text-4xl;
}

h2 {
  @apply text-3xl;
}

h3 {
  @apply text-2xl;
}

h4 {
  @apply text-xl;
}
